<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.ArticleMapper">
    <select id="getArticle" resultType="ArticleModel">
        select a.*, m.name
        from fitian.Article a
        inner join fitian.Member m on a.uid = m.uid
        where a.articleNo = #{articleNo}
    </select>
    
    <select id="getArticleImg">
        select articleImgUrl
        from fitian.ArticleImage
        where articleNo = #{articleNo}
    </select>
    
    <select id="getArticleList" resultType="ArticleModel">
        select a.articleNo, a.articleTitle, a.postDate, a.uid, a.category, m.name, m.rank
        from fitian.Article a
        inner join fitian.Member m on a.uid = m.uid
        where a.boxCode = #{boxCode}
        and a.category = #{category}
        order by a.articleNo desc
        limit 20
    </select>
    
    <insert id="createArticle">
    	insert into fitian.Article (uid, articleTitle, articleScript, category, boxCode) 
    	value (#{uid},#{articleTitle},#{articleScript},#{category},#{boxCode})
    </insert>
    
    <insert id="createArticleImg">
    	insert into fitian.ArticleImage (articleNo, articleImgUrl) 
    	value (#{articleNo},#{articleImgUrl})
    </insert>
    
    <update id="updateArticle">
    	update fitian.Article
    	SET articleTitle=#{articleTitle}, articleScript=#{articleScript}, category=#{category}
    	where articleNo = #{articleNo}
    </update>
    
    <select id="getLastId">
		SELECT LAST_INSERT_ID() as articleNo
	</select>
    
    <delete id="deleteArticle">
    	delete from fitian.Article
    	where uid = #{uid}
    	and articleNo = #{articleNo}
    </delete>
    
    <select id="existsById" resultType="boolean">
    SELECT EXISTS (
        SELECT 1 FROM fitian.Article WHERE uid = #{uid} and articleNo = #{articleNo}
    ) AS exist
	</select>
	
	<update id="updateArticleImg">
    	update fitian.ArticleImage
    	SET articleImgUrl=#{articleImgUrl}
    	where articleNo = #{articleNo}
    </update>
    
    <delete id="deleteArticleImg">
    	delete from fitian.ArticleImage
    	where articleImgUrl = #{articleImgUrl}
    </delete>

</mapper>
