<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.BoxMapper">
    <select id="getBox" resultType="BoxModel">
        select *
        from fitian.Box
        where 1=1
        <if test='boxName != null  and(boxName neq "".toString())'>
			and boxName = #{boxName}
 		</if>
        <if test='boxCode != null  and(boxCode neq "".toString())'>
			and boxCode = #{boxCode}
 		</if>
    </select>
    
    <select id="getBoxList" resultType="BoxModel">
        select boxCode,boxName,boxAddress
        from fitian.Box
    </select>
    
    <insert id="createBox">
    	insert into fitian.Box (boxName, boxCode, boxContact, boxAddress, boxScript, placeId) 
    	value (#{boxName},#{boxCode},#{boxContact},#{boxAddress},#{boxScript},#{placeId})
    </insert>
    
    <update id="updateBox">
    	update fitian.Box
    	SET 
    	<if test='boxContact != null  and(boxContact neq "".toString())'>
			boxContact=#{boxContact},
 		</if>
 		<if test='boxAddress != null  and(boxAddress neq "".toString())'>
			boxAddress=#{boxAddress},
 		</if>
 		<if test='boxScript != null  and(boxScript neq "".toString())'>
			boxScript=#{boxScript},
 		</if>
 		<if test='boxFeeUrl != null  and(boxFeeUrl neq "".toString())'>
			boxFeeUrl=#{boxFeeUrl},
 		</if>
 		<if test='boxTimeTableUrl != null  and(boxTimeTableUrl neq "".toString())'>
			boxTimeTableUrl=#{boxTimeTableUrl},
 		</if>
 		boxCode=#{boxCode}
    	where boxCode = #{boxCode}
    </update>
    
    <update id="deleteBox">
    	update fitian.Box 
    	SET useYN = "N"
    	where boxCode = #{boxCode}
    </update>

    <select id="searchBoxCode" resultType="int">
        select count(*)
        from fitian.Box
        where 1=1
        and boxCode = #{boxCode}
    </select>
    
    <select id="getAllBoxCode" resultType="BoxModel">
        select BoxCode
        from fitian.Box
    </select>
    
    <select id="getBoxImages" resultType="BoxModel">
        select boxFeeUrl, boxTimeTableUrl
        from fitian.Box
        where boxCode = #{boxCode}
    </select>
    
    <select id="getTest" resultType="String">
        select testNumber
        from fitian.TestTable
        where testName = #{test}
    </select>
</mapper>
