<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.CommonMapper">
    <select id="getPolicy" resultType="CommonModel">
        select *
        from fitian.Agreement
        where title = #{title}
    </select>
    
    <insert id="createRefreshToken">
		insert into fitian.Refresh_token(uid, token)
		values (#{uid},#{token})
		on duplicate key update token = #{token}, updated_at = CURRENT_TIMESTAMP
	</insert>
	
	<select id="getRefreshToken" resultType="string">
		select token from fitian.Refresh_token where uid = #{uid}
	</select>
	
	<delete id="deleteRefreshToken">
		delete from fitian.Refresh_token where uid = #{uid}
	</delete>
    
</mapper>
