<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.MemberMapper">
    <select id="getMember" resultType="MemberModel">
        select *
        from fitian.Member
        where uid = #{uid}
    </select>
    
    <select id="getAllMember" resultType="MemberModel">
        select *
        from fitian.Member
        where 1 = 1,
        <if test='rank != null  and(rank neq "".toString())'>
			rank=#{rank},
 		</if>
 		boxCode = #{boxCode}
        and useYN = 'Y'
    </select>
    
    <insert id="joinMember">
    	insert into fitian.Member (uid, name, nickname, boxName, email, rank, gender, boxCode, useYN, joinDate) 
    	value (#{uid},#{name},#{nickname},#{boxName},#{email},#{rank},#{gender},#{boxCode}, "Y", #{joinDate})
    </insert>

	<update id="updateMember">
    	update fitian.Member
    	SET 
    	<if test='name != null  and(name neq "".toString())'>
			name=#{name},
 		</if>
 		<if test='nickname != null  and(nickname neq "".toString())'>
			nickname=#{nickname},
 		</if>
 		<if test='boxName != null  and(boxName neq "".toString())'>
			boxName=#{boxName},
 		</if>
 		<if test='email != null  and(email neq "".toString())'>
			email=#{email},
 		</if>
 		<if test='rank != null  and(rank neq "".toString())'>
			rank=#{rank},
 		</if>
 		<if test='boxCode != null  and(boxCode neq "".toString())'>
			boxCode=#{boxCode},
 		</if>
 		useYN="Y", uid=#{uid}
    	where uid = #{uid}
    </update>
    
    <select id="existMember" resultType="int">
        select count(*)
        from fitian.Member
        where uid = #{uid}
    </select>
    
    <update id="deleteMember">
		update fitian.Member SET useYN="N"
		where uid = #{uid}
	</update>
    
    <select id="getTest" resultType="String">
        select testNumber
        from fitian.TestTable
        where testName = #{test}
    </select>
</mapper>
