<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.RecordMapper">
    <select id="getRecord" resultType="RecordModel">
        select * from fitian.Record
		where wodNo = #{wodNo}
		order by field(level, 'Rx\'d', 'A', 'B','C'), round desc
    </select>
    
    <insert id="createBox">
    	insert into fitian.Box (boxCode, boxContract, boxAddress, boxScript) 
    	value (#{boxCode},#{boxContract},#{boxAddress},#{boxScript})
    </insert>
    
    <update id="updateBox">
    	update fitian.Box
    	SET boxContract=#{boxContract}, boxAddress=#{boxAddress}, boxScript=#{boxScript}
    	where boxCode = #{boxCode}
    </update>
    
    <update id="deleteBox">
    	update fitian.Box 
    	SET useYN = "N"
    	where boxCode = #{boxCode}
    </update>

</mapper>
