<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.RecordMapper">
    <select id="getRecord" resultType="RecordModel">
        select * from fitian.Record
		where wodNo = #{wodNo}
		order by field(level, 'Rx\'d', 'Rx\'d/A', 'Rx\'d/B', 'Rx\'d/C', 'Rx\'d/S',
		'A', 'A/B', 'A/C', 'A/S', 'B', 'B/C', 'B/S', 'C', 'C/S','Scaled'),
		<if test='wodType != null  and(wodType eq "ForTime".toString())'>
			time,
 		</if>
 		<if test='wodType != null  and(wodType eq "AMRAP".toString())'>
			round desc, reps desc,
 		</if>
 		<if test='wodType != null  and(wodType eq "EMOM".toString())'>
			field(result, 'success','fail'),
 		</if>
 		<if test='wodType != null  and(wodType eq "SuccessFail".toString())'>
			field(result, 'success','fail'),
 		</if>
 		<if test='wodType != null  and(wodType eq "EMOMMAX".toString())'>
			reps desc
 		</if>
 		<if test='wodType != null  and(wodType eq "MaxReps".toString())'>
			reps desc
 		</if>
 		team
    </select>
    
    <insert id="createRecord">
    	insert into fitian.Record (uid, name, wodNo, level, round, reps, time, result, team, memo, classTime) 
    	value (#{uid},#{name},#{wodNo},#{level},#{round},#{reps},#{time},#{result},#{team},#{memo},#{classTime})
    </insert>
    
    <update id="updateRecord">
    	update fitian.Record
    	SET level=#{level}, round=#{round}, reps=#{reps}, time=#{time}, result=#{result}, team=#{team}, memo=#{memo}, classTime=#{classTime},
    	where recordNo = #{recordNo}
    </update>
    
    <update id="deleteRecord">
    	update fitian.Record
    	SET useYN = "N"
    	where recordNo = #{recordNo}
    </update>

</mapper>
