<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seocheon.fitian.mapper.WodMapper">
    <select id="getWod" resultType="WodModel">
        select *
        from fitian.Wod
        where boxCode = #{boxCode}
        and wodDate = #{wodDate}
        and useYN = "Y"
    </select>
    
    <insert id="createWod">
    	insert into fitian.Wod (boxCode, wodDate, wodScript, wodType, useYN, wodTitle) 
    	value (#{boxCode},#{wodDate},#{wodScript},#{wodType}, "Y", #{wodTitle})
    </insert>
    
    <update id="updateWod">
    	update fitian.Wod 
    	SET 
    	<if test='wodScript != null  and(wodScript neq "".toString())'>
			wodScript=#{wodScript},
 		</if>
 		<if test='wodType != null  and(wodType neq "".toString())'>
			wodType=#{wodType},
 		</if>
 		<if test='wodTitle != null  and(wodTitle neq "".toString())'>
			wodTitle=#{wodTitle},
 		</if>
 		wodDate=#{wodDate}
    	where boxCode = #{boxCode}
        and wodDate = #{wodDate}
        and useYN = "Y"
    </update>
    
    <update id="deleteWod">
    	update fitian.Wod 
    	SET useYN = "N"
    	where boxCode = #{boxCode}
        and wodDate = #{wodDate}
    </update>
    
    <select id="getTest" resultType="String">
        select testNumber
        from fitian.TestTable
        where testName = #{test}
    </select>
</mapper>
